﻿@charset "utf-8";
/*@font-face {*/
/*font-family : "微软雅黑";*/
/*src         : url(msyh.ttf);*/
/*}*/
/* CSS Document */


body { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

button, input, select, textarea { font-size: 100%; }

fieldset, img { border: 0; }

address, cite, dfn, em, var { font-style: normal; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

sub, sup { line-height: 0; }

h1, h2, h3, h4, h5, h6 { line-height: 1.2; }

ul, ol { list-style-type: none; }

table { border-collapse: collapse; border-spacing: 0; }

div { overflow: hidden; margin: 0 auto; padding: 0; text-align: left; }

a { text-decoration: none; cursor: pointer; }

a:hover { text-decoration: none; }

/*=====System Tag CSS====*/
button, input, select, textarea { font: 62.5%/1.5 "微软雅黑", Tahoma, Arial, Helvetica, sans-serif; }

body {
	width:      100%; height: auto;
	font:       62.5%/1.5 "微软雅黑", Tahoma, Arial, Helvetica, sans-serif;
	text-align: center;
	/*英文格式*/
	/*
	text-transform: capitalize;
	letter-spacing: normal;
	*/
}

header, nav, footer, #bodyer { overflow: hidden; width: 100%; margin: 0 auto; padding: 0; text-align: left; }

/*=====User Tag CSS====*/
.dis { display: block; }

.idis { display: inline-block; }

.inline { display: inline; }

.none { display: none; }

.t_l { text-align: left; }

.t_r { text-align: right; }

.t_c { text-align: center; }

.f_l { float: left; }

.f_r { float: right; }

.f_m { vertical-align: middle; }

.c_l { clear: left; }

.c_r { clear: right; }

.c_b { clear: both; }

.block { display: block; margin: 0 auto; padding: 0; text-align: left; }

.blank { width: 100%; height: 1px; overflow: hidden; }

.btn { overflow: hidden; text-indent: -9999px; cursor: pointer; }

.noselect {
	-moz-user-select:    none; /*火狐*/
	-webkit-user-select: none; /*webkit浏览器*/
	-ms-user-select:     none; /*IE10*/
	-khtml-user-select:  none; /*早期浏览器*/
	user-select:         none;
}

.box_h {
	display:            -moz-box;
	display:            -webkit-box;
	display:            box;
	box-orient:         horizontal;
	-moz-box-orient:    horizontal;
	-webkit-box-orient: horizontal;
}

.box_v {
	display:            -moz-box;
	display:            -webkit-box;
	display:            box;
	box-orient:         vertical;
	-moz-box-orient:    vertical;
	-webkit-box-orient: vertical;
}

.xscroll { overflow: auto; overflow-x: auto; overflow-y: hidden; }

.yscroll { overflow: auto; overflow-x: hidden; overflow-y: auto; }

.ascroll { overflow: auto; }

.clearfix:after {
	content:    "";
	display:    block;
	height:     0;
	clear:      both;
	visibility: hidden;
}

/*英文强制换行*/
.word { word-break: break-all; }

.justify { text-align: justify; text-justify: distribute-all-lines; text-align-last: justify; }

/*=====User Mod CSS====*/
#Container, #Header, #Bodyer, #Footer { width: 100%; margin: 0 auto; padding: 0; text-align: left; }
